section {
	margin-top: 25px;
}

img {
    max-width:100%;
    height:auto;
}

.lessons {
	border-collapse: collapse;
	width: 90%;
}

tr .up {
	background: #70B5FF;
	border: 1px solid #000000;
}
tr .dn {
	background: #6FD9FC;
	border: 1px solid #000000;
}

tr .cen{
	border: 1px solid #000000;
}

.vert-marg {
	margin-top: 175px;
}

.zbtn {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	background: #2DA2FF;
	color: white;
	border: solid 1px #fefefe;
	border-radius: 3px;
	transition: .4s;
}

.zbtn:hover {
	background: white;
	color: #2DA2FF;
	border: solid 1px #2DA2FF;
}