@import url('https://fonts.olejka.pw/Baloo-2.css');

/*
:root {
	--first-color: #0a0a0a;
	--second-color: #fefefe;
}
*/

body {	
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-family: 'Baloo 2';
	background-color: var(--first-color);
	color: var(--second-color);
	transition: .4s;
}

h1 {
	font-size: 50px;
	margin: 0;
	margin-bottom: 10px;
}

p {
	font-size: 30px;
	margin: 0;
}

svg {
	fill: var(--second-color);
}

a {
	margin-top: 25px;
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	background: var(--second-color);
	color: var(--first-color);
	border: solid 1px var(--second-color);
	border-radius: 5px;
	transition: .4s;
}

a:hover {
	background: rgba(255, 255, 255, 0);
	border: dashed 1px var(--second-color);
	color: var(--second-color);
}
