@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); /* Default font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap'); /* Paragraphs on header and footer */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /* English h1-h5 on some pages */


:root {
	--first-color: #0a0a0a;
	--second-color: #fefefe;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	background-color: var(--first-color);
	color: var(--second-color);
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: .3s;
}


a {
	color: var(--second-color);
}

a:hover {
	color: #3bdeff;
}

table {
	border-collapse: collapse;
	width: 75%;
}

tr {
	padding: 2px;
}

img {
	height: 100px;
}

svg {
	fill: var(--second-color);
	transition: .3s;
}

svg path {
	transform: translateY(25%);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Comfortaa';
	margin: 0;
}

h1 {
	font-size: 50px;
}

footer p, header p{
	font-family: 'Comfortaa';
}


.grad {
	background: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
	color: var(--second-color);
}

.clickable {
	cursor: pointer;
}

/* Real glitch effect */
.glitch {
	position: relative;
	width: fit-content;
}
  
.glitch:after {
    animation: glitch-animation 2s infinite linear alternate-reverse;
    background: var(--first-color);
    clip: rect( 0, 900px, 0, 0 );
    color: var(--second-color);
    content: attr( data-text );
    left: 2px;
    overflow: hidden;
    position: absolute;
    text-shadow: -1.5px 0 red;
    top: 0;
}

.glitch:before {
    animation: glitch-animation-2 3s infinite linear alternate-reverse;
    background: var(--first-color);
    clip: rect( 0, 900px, 0, 0 );
    color: var(--second-color);
    content: attr( data-text );
    left: -2px;
    overflow: hidden;
    position: absolute;
    text-shadow: 1.5px 0 blue;
    top: 0;
}

/* Expanded Animations */
@keyframes glitch-animation {
    0% {
      clip: rect(42px, 9999px, 44px, 0);
    }
    5% {
      clip: rect(12px, 9999px, 59px, 0);
    }
    10% {
      clip: rect(48px, 9999px, 29px, 0);
    }
    15.0% {
      clip: rect(42px, 9999px, 73px, 0);
    }
    20% {
      clip: rect(63px, 9999px, 27px, 0);
    }
    25% {
      clip: rect(34px, 9999px, 55px, 0);
    }
    30.0% {
      clip: rect(86px, 9999px, 73px, 0);
    }
    35% {
      clip: rect(20px, 9999px, 20px, 0);
    }
    40% {
      clip: rect(26px, 9999px, 60px, 0);
    }
    45% {
      clip: rect(25px, 9999px, 66px, 0);
    }
    50% {
      clip: rect(57px, 9999px, 98px, 0);
    }
    55.0% {
      clip: rect(5px, 9999px, 46px, 0);
    }
    60.0% {
      clip: rect(82px, 9999px, 31px, 0);
    }
    65% {
      clip: rect(54px, 9999px, 27px, 0);
    }
    70% {
      clip: rect(28px, 9999px, 99px, 0);
    }
    75% {
      clip: rect(45px, 9999px, 69px, 0);
    }
    80% {
      clip: rect(23px, 9999px, 85px, 0);
    }
    85.0% {
      clip: rect(54px, 9999px, 84px, 0);
    }
    90% {
      clip: rect(45px, 9999px, 47px, 0);
    }
    95% {
      clip: rect(37px, 9999px, 20px, 0);
    }
    100% {
      clip: rect(4px, 9999px, 91px, 0);
    }
}

@keyframes glitch-animation-2 {
    0% {
      clip: rect(65px, 9999px, 100px, 0);
    }
    5% {
      clip: rect(52px, 9999px, 74px, 0);
    }
    10% {
      clip: rect(79px, 9999px, 85px, 0);
    }
    15.0% {
      clip: rect(75px, 9999px, 5px, 0);
    }
    20% {
      clip: rect(67px, 9999px, 61px, 0);
    }
    25% {
      clip: rect(14px, 9999px, 79px, 0);
    }
    30.0% {
      clip: rect(1px, 9999px, 66px, 0);
    }
    35% {
      clip: rect(86px, 9999px, 30px, 0);
    }
    40% {
      clip: rect(23px, 9999px, 98px, 0);
    }
    45% {
      clip: rect(85px, 9999px, 72px, 0);
    }
    50% {
      clip: rect(71px, 9999px, 75px, 0);
    }
    55.0% {
      clip: rect(2px, 9999px, 48px, 0);
    }
    60.0% {
      clip: rect(30px, 9999px, 16px, 0);
    }
    65% {
      clip: rect(59px, 9999px, 50px, 0);
    }
    70% {
      clip: rect(41px, 9999px, 62px, 0);
    }
    75% {
      clip: rect(2px, 9999px, 82px, 0);
    }
    80% {
      clip: rect(47px, 9999px, 73px, 0);
    }
    85.0% {
      clip: rect(3px, 9999px, 27px, 0);
    }
    90% {
      clip: rect(26px, 9999px, 55px, 0);
    }
    95% {
      clip: rect(42px, 9999px, 97px, 0);
    }
    100% {
      clip: rect(38px, 9999px, 49px, 0);
    }
}
/* Thanks https://gist.github.com/idmontie/ for this effect */

#c1, #c2, #c3, #c4, #c5{
	opacity: 0;
}

#c1 {
	font-size: 60px;
	margin: auto;
}

div#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
}

div#overlay p{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	z-index: 10000;
}

main {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#c2 {
	position: relative;
	left: 10%; /* Shitty code for uncentralized position and unknown margin */
	display: flex;
	list-style-type: none;
	width: max-content; 
	margin: 0;
	padding: 10px;
	list-style: none;
}

#c2 li {
	margin-right: 30px;
}

#c2 li svg {
	width: 35px;
	height: 35px;
}

#c2 li svg:hover {
	width: 40px;
	height: 40px;
}

/*
main p {

}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}
*/

audio {
	display: none;
}

div.attention {
	color: #fefefe;
	padding: 25px;
	width: max-content;
	margin: auto;
	background: linear-gradient(47deg, rgba(246,134,134,1) 0%, rgba(255,0,0,1) 100%);
	text-align: center;
	border: hidden;
	border-radius: 10px;
}

div.warning {
	color: #fefefe;
	margin: 20px;
	padding: 25px;
	position: absolute;
	width: max-content;
	margin: auto;
	background: linear-gradient(47deg, rgba(255,247,81,1) 0%, rgba(255,152,0,1) 100%);
	text-align: center;
	border: hidden;
	border-radius: 10px;
}

footer.old {
	color: var(--second-color);
	font-size: 13px;
	position: fixed;
	bottom: 0;
}

footer.new {
	color: var(--second-color);
	font-size: 13px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

footer.new p {
	margin: 0;
}

.btn {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	background: var(--second-color);
	color: var(--first-color);
	border: solid 1px var(--second-color);
	border-radius: 5px;
	transition: .3s;
}

.btn:hover {
	background: rgba(255, 255, 255, 0);
	border: dashed 1px var(--second-color);
	color: var(--second-color);
}

.btn2 {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	display: inline-block;
	width: 300px;
	max-width: 100%;
	margin: 10px 0;
	padding: 1.15em 10px;
	cursor: pointer;
	transition: all 0.2s ease;
	text-align: center;
	text-decoration: none;
	color: var(--second-color);
	border: 1px solid var(--second-color);
	border-radius: 3px;
	background: rgba(255, 255, 255, 0);
}
.btn2:hover {
	transform: scale(1.1);
	color: var(--first-color);
	border: none;
	border-radius: 35px;
	background: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
}

/* Stupid mobile adaptation */

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 512px) {
	body {
		font-size: 13px;
	}
	
	footer {
		font-size: 11px;
	}

	#c2 li {
		margin-right: 25px;
	}

	#c2 li svg {
		width: 30px;
		height: 30px;
	}

	#c2 li svg:hover {
		width: 35px;
		height: 35px;
	}
}

@media screen and (max-width: 400px) {
	nav ul li {
		margin-right: 15px;
		font-size: 15px;
	}

	#c2 li {
		margin-right: 15px;
	}
}