main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
@keyframes stroke {
	0% {
		stroke-dashoffset: -1600;
		opacity: 0;
		filter: blur(15px)
	}
	25% {
		opacity: 1;
		filter: blur(0px)
	}
	50% {
		/*
		The animation is not adapted for an infinite loop 
		so at the end we make it transparent...

		...and blur cuz hight ram usage is cool ¯\_(ツ)_/¯

		Just realized that I added 50% for the sake of comments...🤔
		*/
	}
	75% {
		opacity: 1;
		filter: blur(0px)
	}
	100% {
		stroke-dashoffset: 1600;
		opacity: 0;
		filter: blur(15px)
	}
}
main svg {height: 150px;}
main svg path {
    stroke-dasharray: 1600;
    stroke-dashoffset: -1600;
    animation: stroke 2s ease-in-out infinite;
    fill:none;
    stroke: var(--second-color);
    stroke-width:75;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}
main>h1 {font-size: 100pt;}
main>div {margin: 10px 0;}
.btn {margin-top: 20px;}

@media screen and (max-width: 900px) {
	main svg {height: 120px}
	.btn {margin-top: 18px}
}
@media screen and (max-width: 700px) {
	main svg {height: 100px}
	.btn {margin-top: 16px}
}